.gradient {
    margin: 0.5em;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff, #dfe4e8);
    padding-bottom: 0;
    border-radius: 6px 6px 6px 6px;
}

body {
    /*background-color: RGB(230, 232, 231);*/
    background-size: 100%;
}

div #booking-menu {
    text-align: justify;
    font-stretch: condensed;
    margin: 0;
    padding: 1em;
    height: 2em;
    background-color: RGB(255, 212, 7);
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid RGB(194, 166, 22);
}

#booking-menu ul {
    list-style: none;
    display: inline; /* Отображать как строчный элемент */
    /*padding: 1em; /* Значение полей */
}

#booking-menu ul li {
    display: inline-block;
    font-family: Tahoma;
    font-size: 24px;
    color: RGB(222, 183, 0);
    height: 125%;
    vertical-align: middle;
}

#booking-menu ul li.left{
}

#booking-menu ul li.right {
}

#booking-menu ul li a {
    text-decoration: none;
    color: RGB(166, 130, 0);
}

#booking-menu ul li a:hover {
    text-decoration: underline;
}

/* Искусственное подчеркивание ссылки Gabriel блоки, чтобы линия была одной толщины*/
#booking-menu ul li a:hover .menu-item-small-font {
    text-decoration: none;
    border-bottom: 2px solid RGB(166, 130, 0);
    line-height: 1em;
    display: inline-block;
}

#booking-menu ul li.opened a {
    text-decoration: underline;
    color: #b32e00;
}

#booking-menu ul li a:visited {
    text-decoration: underline;
}

#booking-menu ul li.menu-items-devider {
    border-right: 1px solid RGB(194, 166, 22);
}

#booking-menu span {
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
}

.menu-item-small-font {
    word-wrap: normal;
    font-size: 60%;
}

div #booking-table-fixed-title {
    height: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 1em 1em 0 0;
    text-align: left;
    font-size: 14px;
    color: grey;
    font-family: arial;
}

#booking-table-fixed-title table {
    width: 100%;
    border-spacing: 0;
}

#booking-table-fixed-title th {
    cellspacing: 0px;
    margin: 0;
    padding: 0 10px 10px;
    border-bottom: 1px solid grey;
}

#booking-table-fixed-title .col1 {
    width: 10%;
    text-align: center;
    padding-left: 1em;
}

#booking-table-fixed-title .col2 {
    width: 5%;
}

#booking-table-fixed-title .col3 {
    width: 20%;
}

#booking-table-fixed-title .col4 {
    width: 9%;
}

#booking-table-fixed-title .col5 {
    width: 22%;
}

#booking-table-fixed-title .col6 {
    padding-left: 6.5%;
    width: 34%;
}

div #booking-table {
    height: 240px;
    overflow: auto; /* Добавляем полосы прокрутки */
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: left;
    font-size: 14px;
    color: grey;
    font-family: arial;
}

#booking-table table {
    width: 100%;
    border-spacing: 0;
}

#booking-table table td {
    padding-left: 1em;
}

#booking-table .col1 {
    width: 10%;
    text-align: center;
}

#booking-table .col2 {
    width: 5%;
}

#booking-table .col3 {
    width: 20%;
}

#booking-table .col4 {
    width: 9%;
}

#booking-table .col5 {
    width: 22%;
    border: none;
    padding-right: 20px;
}

#booking-table .col6 {
    width: 5%;
}

#booking-table .col7 {
    /*width: 25%;*/
}

#booking-table td {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#booking-table td.table-letter-column {
    padding-left: 1%;
}

#booking-table td.table-address-font {
    font-size: 75%;
}

#booking-table td.table-ET-balance-font {
    font-weight: bold;
    text-align: left;
    padding-left: 1%;
}

#booking-table td .demand-ET {
    width: 100%;
    text-align: center;
}

/* Параметры ползунка слайдера */
#booking-table tr td div > span {
    margin-top: -5px;
    width: 5px;
    height: 19px;
    font-weight: bold;
    text-align: left;
}

#booking-table tr td div{
    height: 2px;
}

#booking-table tr td div > span:active {
    border: 1px solid #003eff;
   	background: #007fff;
   	font-weight: bold;
   	color: black;
}

/* Параметры div над ползунком слайдера. div для вывода значения слайдера над ним */
#booking-table tr td div > span div{
    position: relative;
    bottom: 20px;
    border: none;
    background-color: none;
    text-align: center;
    margin-left: -15px;
}

.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px; //add this
}

#booking-table td .comment {
    width: 95%;
}

#buttons {
    text-align: justify;
    margin: 1em 0 6em 0;
    padding: 0;
    height: 0.5em;
    width: 100%
}

#buttons ul {
    display: inline; /* Отображать как строчный элемент */
    margin: 0; /* Обнуляем значение отступов */
    padding: 0; /* Значение полей */
}

#buttons ul li {
    display: inline-block;
    font-family: arial;
    margin: 0;
}

#buttons li input {
    padding: 1em 4em;
    background-color: RGB(139, 184, 57);
    font-family: arial;
    font-size: 100%;
    color: white;
    cursor: pointer;
}

#buttons input:hover {
    background-color: RGB(143, 218, 5);
}

#buttons .archive {
    float: left;
    margin-left: 2em;
}

#buttons .cancel {
    float: right;
    margin-right: 1em;
}

#buttons .send {
    float: right;
    margin-right: 2em;
    color: RGB(146, 146, 146);
    background-color: RGB(234, 234, 234);
}

#buttons .send input {
    color: RGB(146, 146, 146);
    background-color: RGB(234, 234, 234);
}

div #prev-orders-title {
    text-align: justify;
    margin: 0;
    padding: 0;
    height: 3em;
    width: 100%
}

#prev-orders-title ul {
    display: inline; /* Отображать как строчный элемент */
    margin: 0; /* Обнуляем значение отступов */
    padding: 0; /* Значение полей */
}

#prev-orders-title ul li {
    display: inline-block;
    font-family: arial;
    margin: 0;
    line-height: 3em;
    color: RGB(114, 116, 115);
}

#prev-orders-title .prev {
    float: left;
    margin-left: 2em;
    font-weight: bold;
    font-size: 125%;
}

#prev-orders-title .updated {
    float: right;
    margin-right: 1em;
    font-size: 75%;
}

#prev-orders-title .pic-button {
    float: right;
    margin-right: 2em;
    color: grey;
}

#prev-orders-title .pic-button img {
    margin-right: 2em;
    cursor: pointer;
}

div #prev-orders-table-fixed-title {
    width: 100%;
    height: 47px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: grey;
    font-family: arial;
    border: 0;
    /* border-radius: 6px 6px 0 0;*/
}

#prev-orders-table-fixed-title table {
    table-layout: fixed;
    font-size: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid RGB(194, 197, 232);
    border-radius: 6px 6px 0 0;
}

#prev-orders-table-fixed-title th {
    vertical-align: middle;
    cellspacing: 0px;
    padding: 10px 10px 10px 20px;
    border-right: 1px dotted RGB(194, 197, 232);
    /*border-top: 1px dotted grey;*/
    border-bottom: 1px solid RGB(194, 197, 232);
    background-color: RGB(255, 212, 7);
}

#prev-orders-table-fixed-title th.date {
    border-radius: 6px 0 0 0;
    width: 15%;
    padding: 0 0 0 40px;
}

#prev-orders-table-fixed-title th.order {
    width: 15%;
}

#prev-orders-table-fixed-title th.status {
    width: 15%;
}

#prev-orders-table-fixed-title th.reservation-system {
    width: 18%;
}

#prev-orders-table-fixed-title th.ordered-number {
    width: 30%;
    border-right: none;
}

#prev-orders-table-fixed-title th.delete {
    width: 7%;
    border-right: none;
    border-left: none;
    border-radius: 0 6px 0 0;
}

div #prev-orders-table {
    width: 100%;
    height: 120px;
    overflow: auto; /* Добавляем полосы прокрутки */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: grey;
    font-family: arial;
    border: none;
}

#prev-orders-table table {
    table-layout: fixed;
    font-size: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    border-top: 1px solid RGB(194, 197, 232);
}

#prev-orders-table tr.underway {
    background-color: RGB(181, 211, 249);
}

#prev-orders-table td {
    padding: 10px 10px 10px 20px;
    border-top: 1px dotted white;
    border-bottom: 1px dotted grey;
    border-right: 1px dotted white;
}

#prev-orders-table td.date {
    width: 15%;
    padding: 0 0 0 40px;
}

#prev-orders-table td.order {
    width: 15%;
}

#prev-orders-table td.status {
    width: 15%;
}

#prev-orders-table td.reservation-system {
    width: 18%;
}

#prev-orders-table td.ordered-number {
    width: 30%;
    border-right: none;
    border-left: none;
}

#prev-orders-table td.delete {
    width: 7%;
    text-align: right;
    padding-right: 1%;
    border-right: none;
}

#prev-orders-table td.delete img {
    cursor: pointer;
}

#prev-orders-table .first-table-string td {
    border-top: none;
}