.gradient {
    margin: 0.5em;
    width: 96%;
    background: #d6ffe4;
    background: linear-gradient(to bottom, #d6ffe4, #dfe4e8);
    padding: 20px;
    border-radius: 6px 6px 6px 6px;
}

body {
    /*background-color: RGB(230, 232, 231);*/
    background-size: 100%;
    font-family: Arial;
}

div #phoneBookTableFixedTitle table, #phoneBookTable table {
    table-layout: fixed;
    border-collapse: separate;
    width: 95%;
    margin: 1%;
    border-spacing: 0;
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 0;
}

#phoneBookTableFixedTitle table th {
    font-weight: bold;
}

div #phoneBookTable table tr {
    border-top: 1px solid grey;
}

.indexNumber {
    width: 3%;
    border-right: 1px solid grey;
    text-align: center;
}

.firstName {
    width: 17%;
    border-right: 1px solid grey;
}

.lastName {
    width: 17%;
    border-right: 1px solid grey;
}

.middleName {
    width: 17%;
    border-right: 1px solid grey;
}

.phoneNumber {
    width: 17%;
    border-right: 1px solid grey;
}

.comments{
    width: 20%;
    border-right: 1px solid grey;
}

.deleteRecord{
    text-align: center;
    border-right: none;
}

.deleteRecord img{
    cursor: pointer;
}

.inputFormTable {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-spacing: 10px;
}

.titleTD {
    text-align: left;
    width: 15%;
    border-bottom: 1px dotted grey;
    padding-left: 10px;
}

.inputTD {
    width: 30%;
}

#saveToPhoneBookButton {
    margin: 10px 10px 10px 40px;
    padding: 10px;
    cursor: pointer;
}

#clearForm {
    margin: 10px 10px 10px 40px;
    padding: 10px;
    cursor: pointer;
}

.beetwenButtonSpace {
    padding-left: 30px;
}