* {
    box-sizing: border-box;
}

.gradient {
    margin: 0.5em;
    width: 99%;
    background: RGB(173, 217, 83);
    background: linear-gradient(to bottom, RGB(173, 217, 83), RGB(255, 255, 255));
    padding: 20px;
    border-radius: 6px 6px 6px 6px;
}

body {
    /*background-color: RGB(230, 232, 231);*/
    background-size: 100%;
    font-family: Arial;
}

div #filter {
    width: 100%;
}

#filter input {
    width: auto;
}

#filterApply {
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
}

#filterClear {
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
}

div #phoneBookTable {
    overflow: scroll;
    overflow-x: hidden;
    height: 200px;
    width: 100%;
}

#phoneBookTableFixedTitle table {
    table-layout: fixed;
    border-collapse: separate;
    width: 98%;
    margin: 5px;
    margin-bottom: 0;
    border-spacing: 0;
    padding: 10px;
    border-radius: 6px 6px 6px 6px;
    background-color: RGB(243, 245, 194);
}

#phoneBookTable table {
    table-layout: fixed;
    border-collapse: separate;
    width: 98%;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-spacing: 0;
    padding: 10px;
    padding-top: 0;
}

#phoneBookTable table tr.filled {
    background-color: RGB(243, 245, 194);
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#phoneBookTableFixedTitle table th {
    font-size: 18px;
    font-weight: bold;
}

div #phoneBookTable table tr td {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px 6px 6px 6px;
    border-bottom: 1px solid grey;
}

th.mark {
    width: 3%;
    text-align: center;
    padding-left: 0;
    border-right: 1px solid grey;
}

td.mark {
    width: 3%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    text-align: center;
    padding-left: 0;
}

th.indexNumber {
    width: 3%;
    text-align: center;
    padding-left: 0;
    border-right: 1px solid grey;
}

td.indexNumber {
    width: 3%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    text-align: center;
    padding-left: 0;
}

th.firstName {
    width: 17%;
    border-right: 1px solid grey;
}

td.firstName {
    width: 17%;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

th.lastName {
    width: 17%;
    border-right: 1px solid grey;
}

td.lastName {
    width: 17%;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

th.middleName {
    width: 17%;
    border-right: 1px solid grey;
}

td.middleName {
    width: 17%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

th.phoneNumber {
    width: 17%;
    border-right: 1px solid grey;
}

td.phoneNumber {
    width: 17%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

th.comments {
    width: 20%;
    border-right: 1px solid grey;
}

td.comments {
    width: 20%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

th.deleteRecord {
    text-align: center;
    border-right: none;
}

td.deleteRecord {
    text-align: center;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.deleteRecord img {
    cursor: pointer;
}

#inputFormTableDiv {
    display: inline-block;
    width: 50%;
}

.inputFormTable {
    table-layout: fixed;
    border-collapse: separate;
    width: 200%;
    margin: 0;
    padding: 10px;
    border-spacing: 10px;
}

.inputFormTable caption {
    caption-side: top;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

.attention {
    color: red;
}

div #errorMessage {
    color: red;
    text-align: right;
}

.titleTD {
    text-align: left;
    width: 15%;
    border-bottom: 1px dotted grey;
    padding-left: 10px;
}

.inputTD {
    width: 30%;
}

#saveToPhoneBookButton {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
}

#clearForm {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
}

#delChecked {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px 6px 6px 6px;
}

.beetwenButtonSpace {
    padding-left: 5px;
}

input {
    border-radius: 6px 6px 6px 6px;
    padding: 3px 5px;
}