.gradient {
    margin: 0.5em;
    width: 96%;
    background: #d6ffe4;
    background: linear-gradient(to bottom, #d6ffe4, #dfe4e8);
    padding: 20px;
    border-radius: 6px 6px 6px 6px;
}

body {
    /*background-color: RGB(230, 232, 231);*/
    background-size: 100%;
    font-family: Arial;
}

#phoneBookTable {
    table-layout: fixed;
    border-collapse: separate;
    width: 90%;
    margin: 0;
    margin: 1%;
    border-spacing: 0;
    border: 1px solid grey;
    padding: 5px;
}
#phoneBookTable th {
    height: 100%;
    font-weight: bold;
    border-right: 1px solid grey;
}

.indexNumber {
    width: 5%;
}

.firstName {
    width: 17%;
}

.lastName {
    width: 17%;
}

.middleName {
    width: 17%;
}

.phoneNumber {
    width: 15%;
}

.comments {
    border: none;
}

.inputFormTable {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-spacing: 10px;
}

.titleTD {
    text-align: left;
    width: 15%;
    border-bottom: 1px dotted grey;
    padding-left: 10px;
}

.inputTD {
    width: 30%;
}

#saveToPhoneBookButton {
    margin: 10px 10px 10px 40px;
    padding: 10px;
    cursor: pointer;
}

#clearForm {
    margin: 10px 10px 10px 40px;
    padding: 10px;
    cursor: pointer;
}

.beetwenButtonSpace {
    padding-left: 30px;
}